.footer-bar {
  padding: 10px;
  text-align: right;
  border-top: #eee 1px solid;
}

.flex-l-r {
  align-content: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > a {
    align-content: center;
    display: flex;
    align-items: center;
  }
}

.md-mr-5 {
  margin-right: 5px;
}
.md-mr-10 {
  margin-right: 10px;
}
.md-mr-15 {
  margin-right: 15px;
}
.md-mr-20 {
  margin-right: 20px;
}

.md-mt-5 {
  margin-top: 5px;
}
.md-mt-10 {
  margin-top: 10px;
}
.md-mt-15 {
  margin-top: 15px;
}
.md-mt-20 {
  margin-top: 20px;
}

.md-ml-5 {
  margin-left: 5px;
}
.md-ml-10 {
  margin-left: 10px;
}
.md-ml-15 {
  margin-left: 15px;
}
.md-ml-20 {
  margin-left: 20px;
}

.md-mb-5 {
  margin-bottom: 5px;
}
.md-mb-10 {
  margin-bottom: 10px;
}
.md-mb-15 {
  margin-bottom: 15px;
}
.md-mb-20 {
  margin-bottom: 20px;
}

ol {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 20px;
}

.form-help {
  font-size: 12px;
  line-height: 15px;
  color: #a1a1a1;

  i {
    font-family: 'Microsoft YaHei', serif;
    font-style: normal;
    font-weight: bold;
  }

  code {
    padding: 0 0.4em;
  }
}

code {
  font-size: 85%;
  font-style: normal;
  border-radius: 6px;
  color: #888;
  background-color: #f1f1f1;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0.2em 0.4em;
  white-space: break-spaces;
}

.ace_search_form .ace_searchbtn {
  width: auto;
  min-width: 27px;
}

.ant-radio-button-wrapper {
  margin-bottom: 3px;
}

.ant-form-item-control {
  line-height: 37px;
}

hr {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #eee;
  width: 100%;
}

.ant-modal-content {
  background-color: #fbfbfb;
}

.restore-factory-settings {
  div {
    padding-left: 1em;
  }
  span {
    display: inline-block;
    background-color: #eee;
    padding: 2px 5px;
    margin: 0 5px 5px 5px;
  }
}

.help-list {
  ul {
    padding-left: 10px;
    li {
      list-style: none;
      line-height: 30px;

      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    // 嵌套列表
    ul {
      padding-left: 20px;
    }
  }
}